# Node.js 忽略文件 (.gitignore)

# 依赖项
/node_modules

# 日志
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 运行时数据
pids
*.pid
*.seed
*.pid.lock

# 目录
/.pnp
.pnp.js

# 构建时生成的文件
/build
/dist

# dotenv 环境变量文件
.env
.env.test

# IDEs 和编辑器
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.DS_Store
*.swp
*.swo
*.tmp

# OS X 垃圾箱
._*

# Windows 图片缓存
Thumbs.db

# Windows Installer 文件
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk